{% extends 'base.html' %}

{% block content %}
<div class="aboutmain">
    <h2>About AutoSpace</h2>
    <p>Auto Space is a technology and data science company that facilitates automobile buying 
        online through a combination of our asset-light automobile e-commerce platform along 
        with a technology-driven vertically integrated proprietary ecosystem of products and 
        services for the automobile industry. We offer a 21st-century e-commerce experience 
        for automobiles and is one of the leading e-commerce platforms for used cars sales 
        in India. We are the only major Indian player with a completely online transactional 
        model and offer one of the largest selection of automobiles amongst the major online 
        players in India with over 1.15 million vehicles listed that includes used cars and 
        two-wheelers, and other vehicles, as of December 31st, 2020.Our automobile e-commerce 
        platform, which includes our website and mobile apps, offers users convenience and a 
        curated experience to buy used vehicles and encompasses every element of automobile 
        buying from searching for a vehicle, creating buying requirements, price discovery, 
        booking, certification to purchase and financing and doorstep delivery.</p>

        <p>As a pure-play automobile e-commerce company, we provide a platform for buyers to transact 
        vehicles and related services. To address structural constraints of the automobile market 
        and buyers pain points, we have built a platform that aims to deliver wide selection, 
        low prices, inspected and verified vehicles, loan and insurance, and seamless delivery for 
        buyers as one unified AutoSpace experience. For used vehicle dealers besides being able to 
        reach out to a potential buyer online, we offer an end-to-end e-commerce solution including 
        technology platform, digital catalogue, online payment, vehicle inspection and certification 
        service, and vehicle delivery service.</p>
</div>
{% endblock %}