{% extends 'base.html' %}

{% block content %}
<div class="main-container">
<h2>All Vehicles</h2>
<form class="form2" method="get" action="{% url 'search' %}">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search_this">
    <input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Search">
</form>
<div class="container">
{% for product in allvehicle %}
    <div class="allvehicle">
        <h6>Model : {{product.name}}</h6>
        <h6>Year :{{product.manufacture_year}}</h6>
        <h6>Original price : {{product.base_price}}Rs.</h6>
        <div class="card-img">
            <a href="{% url 'details' product.id %}"><img src="/home/{{product.image}}"></a>
        </div>
        {% if user.is_superuser %}
        <div class="buttons">
            <a href="{% url 'update_vehicle' product.id %}"><button>UPDATE</button></a>
            <a href="{% url 'delete_vehicle' product.id %}"><button>DELETE</button></a>            
        </div>
        {% endif %}
    </div>
{% endfor %}
</div>
</div>
{% endblock %}